name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'

  workflow_dispatch:


env:
  package: gha-practice


#  label:
#    types:
#      - [created, edited]


#permissions:
#add this later


jobs:
#  build:
#    name: Build All
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: .github/workflows/gha-practice-build.yml

  call_build_all:
    uses: ./.github/workflows/gha-practice-build.yml
    secrets: inherit

  release:
    name: Make Release
    needs: call_build_all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Show version
        run: |
          echo needs.build_all.outputs.build_version=${{ needs.build_all.outputs.build_version }}

      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "v${{ needs.build_all.outputs.build_version }}"

      - name: Make artifacts directory
        run: mkdir github_artifacts

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          path: github_artifacts
          name: ${{ env.package }}-build-artifacts-${{ needs.build_all.outputs.build_version }}

      - name: Move release notes
        run: mv github_artifacts/release_notes .

      - name: Check for files
        run: ls -l . github_artifacts

#      - uses: "marvinpinto/action-automatic-releases@latest"
#        with:
#          repo_token: "${{ secrets.GITHUB_TOKEN }}"
#          prerelease: false
#          files: |
#            github_artifacts/*

      - uses: ncipollo/release-action@v1
        with:
          artifactErrorsFailBuild: true
          makeLatest: true
          name: "Release ${{ needs.build_all.outputs.build_version }}"
          tag: "v${{ needs.build_all.outputs.build_version }}"
          bodyFile: release_notes
          artifacts: github_artifacts/*
