name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'
  workflow_dispatch:


#  label:
#    types:
#      - [created, edited]


#permissions:
#add this later


jobs:
  build:
    name: Build All
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/gha-practice-build.yml

  release:
    name: Make Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./gha-practice-*.tar.gz
          if-no-files-found: error

      - name: Show version
        run: |
          echo needs.build_all.outputs.build_version=${{ needs.build_all.outputs.build_version }}
          echo env.build_version=${{ env.build_version }}
          env
