name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'

  workflow_dispatch:
    inputs:
      package_name:
        name: Name of package
        required: false
        type: string
        default: "gha-practice"


jobs:
  call_build:
    uses: ./.github/workflows/gha-practice-build.yml
    secrets: inherit

  release:
    name: Make Release
    needs: call_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Show version
        run: |
          echo needs.call_build.outputs.build_version=${{ needs.call_build.outputs.build_version }}

      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "v${{ needs.call_build.outputs.build_version }}"

      - name: Make artifacts directory
        run: mkdir github_artifacts

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          path: github_artifacts
          name: ${{ inputs.package_name }}-build-artifacts-${{ needs.call_build.outputs.build_version }}

      - name: Move release notes
        run: mv github_artifacts/release_notes .

      - name: Check for files
        run: ls -l . github_artifacts

      - uses: ncipollo/release-action@v1
        with:
          artifactErrorsFailBuild: true
          makeLatest: true
          name: "Release ${{ needs.call_build.outputs.build_version }}"
          tag: "v${{ needs.call_build.outputs.build_version }}"
          bodyFile: release_notes
          artifacts: github_artifacts/*
