name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'

#  label:
#    types:
#      - [created, edited]


#permissions:
#add this later


jobs:
  build:
    uses: ./.github/workflows/gha-practice-build.yml
    secrets: inherit

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build tar files
        run: make fullrelease
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./cw2dmk-*.tar.gz
          if-no-files-found: error
