name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'
  workflow_dispatch:


#  label:
#    types:
#      - [created, edited]


#permissions:
#add this later


jobs:
  release:
    name: Make Release
    runs-on: ubuntu-latest
    secrets: inherit
    needs: build_all
    steps:
#      - uses: actions/checkout@v3
#      - name: build tar files
#        run: make fullrelease
      - uses: ./.github/workflows/gha-practice-build.yml
        with:
          build_version: ${{ needs.build_all.outputs.build_version }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./gha-practice-*.tar.gz
          if-no-files-found: error
