name: gha-practice-release

on:
  push:
    branches:
      - master
    paths:
      - 'version.h'
  workflow_dispatch:


#  label:
#    types:
#      - [created, edited]


#permissions:
#add this later


jobs:
#  build:
#    name: Build All
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: ./.github/workflows/gha-practice-build.yml

  build_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Read version and save in "build_version" environment var
        id: build_version
        run: echo "build_version=$(make show_version)" >> $GITHUB_ENV

      - name: Build Linux
        run:  make

      - name: Build MS-DOS
        run:  make TARGET_OS=MSDOS

      - name: Build Full Release
        run:  make fullrelease

  release:
    name: Make Release
    runs-on: ubuntu-latest
    needs: build_all
    steps:
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./gha-practice-*.tar.gz
          if-no-files-found: error

      - name: Show version
        run: |
          echo needs.build_all.outputs.build_version=${{ needs.build_all.outputs.build_version }}
          echo env.build_version=${{ env.build_version }}
          env
