name: Do simple jobs to test features

on:
  workflow_dispatch:


jobs:
  doit:
    name: when are variables expanded?
    runs-on: ubuntu-latest
    env:
      the_dir: /a/b/c
      the_file: zzz
      # Line below generates an "Unrecognized named-value: 'env'" error.
      #the_path: ${{ env.the_dir }}/${{ env.the_file }}
    steps:
      - name: Show stuff
        run: |
          echo "the_dir=${the_dir}"
          echo "the_file=${the_file}"
          echo "the_path=${the_path}"
        env:
          the_path: ${{ env.the_dir }}/${{ env.the_file }}
